@import url('./global.css');

/* Logotipo */
.titulo {
    text-align: center;
    margin: 30px 0;
}

.titulo img {
    height: 300px;
    width: auto;
}

.titulo h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
    background: linear-gradient(90deg, #00ffe5, #a020f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #00ffe5, 0 0 20px #a020f0;
}

/* Apresentação */
.apresentacao ul {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 1.5em;
    margin: 1.5em;
    text-align: center;
    font-size: 1.2rem;
}

.apresentacao ul li {
    margin: 0.5em 0;
}

.apresentacao ul li a {
    color: #00ffe5;
}

.apresentacao p {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 1.5em;
    margin: 1.5em;
    color: #e0e0e0;
    text-align: center;
    font-size: 1.2rem;
}

/* Aviso */
.aviso {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 1em;
    margin: 1.5em;
    text-align: center;
    font-size: 1.2rem;
    color: #00ffe5;
}

.aviso_img img {
    height: 200px;
    width: 350px;
    align-items: center;
}

header a{
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 2.5rem auto;
    font-size: 5rem;
    background: linear-gradient(90deg, #00ffe5, #a020f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #00ffe5, 0 0 20px #a020f0;
}